header {
  height: 400px;
  background-image: url('/images/arches.png');
  background-color: #69a794;
  padding-top: 1em;

}

header div {

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'source sans pro';
  
}

/* Large screen styles */
@media only screen and (min-width: 1024px) {

  body header{

    position:fixed; /* Set the navbar to fixed position */
    height: 100vw;
    width: 25vw;

  }

}